version: '3.8'

services:
  app:
    image: ${DOCKER_USERNAME}/go-simple-auth:${TAG}
    restart: always
    volumes:
      - ./.env:/app/.env
    ports:
      - "8080:8080"
    networks:
      - default
      - app-network 

networks:
  app-network:
    external: true
    name: my-app-network
  default:
    driver: bridge
